<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Location_Weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B71C08011DA78C2600407D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B71C081A1DA78C2600407D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B71C08251DA78C2700407D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
